@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
body {
  background: url(C:/Users/Hp/Documents/blog/background2.jpg);
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
#header {
background-color: #E6E6FA;
height: 150px;
line-height: 150px;
}
#header a{
  color: #006400;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#header a: hover{
  color: #006400;
}
#header-title {
display: block;
float: left;
font-size: 20px;
font-weight: bold;
}
#header-nav {
display: block;
float: right;
}
#header-nav li {
display: inline;
padding-left: 20px;
margin-top: 0;
}
.container{
  max-width: 1000px;
  margin: 0 auto;
}
#footer {
  background-color: #BC8F8F;
  padding: 50px 0;
}
.column {
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-left: 200px;
}
#footer h4 {
  color: #006400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#footer p {
  color: #006400;
}
a {
  color: #006400;
  text-decoration: none;
}
a:hover {
  color: #F6A623;
}
.post, .about {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}
.post-author img, .about-author img {
  width: 50 px;
  height: 75px;
  vertical-align: middle;
  border-radius: 15px;
}
.post-author span {
  margin-left: 16px;
}
.post-date {
  color: black;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
h1, h2, h3, h4 {
  color: #8B4513;
}
p{
  line-height: 1.5;
}
 .achivements img{
   width: 200px;
   height: 250px;
  padding: 20px;
  margin-left: 150px;

 }
